In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
dft = pd.read_csv('../data/masterfile-study2-bc.csv')
df = dft[dft['Group']=='C']
df

,Simulation Name,PID,eventName,eventDateTime,isPartOfCompromise,order,scenario,infoRequested,emailSubject,MANIPULATION,Group,country,age_bin,read,EventDate,EventTime,EventDay,EventTimeBin,EventHour,EventTimeBin_OneHour
0,EWeek 4 - B01 - S,1,MessageRead,2024-09-25 09:32:07,False,4,B01,S,RESUME: Update Needed,PC * MS,C,US United States,18 - 24,5,2024-09-25,09:32:07,Wednesday,Morning,9,09:00–09:59
1,EWeek 4 - B01 - S,1,MessageDeleted,2024-09-25 09:32:07,False,4,B01,S,RESUME: Update Needed,PC * MS,C,US United States,18 - 24,5,2024-09-25,09:32:07,Wednesday,Morning,9,09:00–09:59
2,EWeek 4 - B01 - S,2,SuccessfullyDeliveredEmail,2024-09-23 10:10:33,False,4,B01,S,RESUME: Update Needed,PC * MS,C,US United States,18 - 24,5,2024-09-23,10:10:33,Monday,Morning,10,10:00–10:59
3,EWeek 4 - B01 - S,1,SuccessfullyDeliveredEmail,2024-09-23 10:10:32,False,4,B01,S,RESUME: Update Needed,PC * MS,C,US United States,18 - 24,5,2024-09-23,10:10:32,Monday,Morning,10,10:00–10:59
4,EWeek 4 - B01 - S,3,SuccessfullyDeliveredEmail,2024-09-23 10:10:31,False,4,B01,S,RESUME: Update Needed,PC * MS,C,US United States,35 - 44,5,2024-09-23,10:10:31,Monday,Morning,10,10:00–10:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,EWeek 1 - Y12 - B,329,MessageRead,2024-09-04 01:15:27,False,1,Y12,B,Update Your Information,PC * DS,C,US United States,18 - 24,5,2024-09-04,01:15:27,Wednesday,Night,1,01:00–01:59
2229,EWeek 1 - Y12 - B,327,SuccessfullyDeliveredEmail,2024-09-04 01:13:14,False,1,Y12,B,Update Your Information,PC * DS,C,US United States,18 - 24,5,2024-09-04,01:13:14,Wednesday,Night,1,01:00–01:59
2230,EWeek 1 - Y12 - B,330,SuccessfullyDeliveredEmail,2024-09-04 01:13:14,False,1,Y12,B,Update Your Information,PC * DS,C,US United States,18 - 24,5,2024-09-04,01:13:14,Wednesday,Night,1,01:00–01:59
2231,EWeek 1 - Y12 - B,329,SuccessfullyDeliveredEmail,2024-09-04 01:13:14,False,1,Y12,B,Update Your Information,PC * DS,C,US United States,18 - 24,5,2024-09-04,01:13:14,Wednesday,Night,1,01:00–01:59
2232,EWeek 1 - Y12 - B,328,SuccessfullyDeliveredEmail,2024-09-04 01:13:13,False,1,Y12,B,Update Your Information,PC * DS,C,US United States,18 - 24,5,2024-09-04,01:13:13,Wednesday,Night,1,01:00–01:59

In [3]:
# Table 1: Participant Count.
df.groupby('Group')['PID'].nunique()

Group
C    184
Name: PID, dtype: int64

In [4]:
# Table 1: Participant Breakdown by Age.
df.groupby('age_bin')['PID'].nunique()

age_bin
18 - 24    110
25 - 34     31
35 - 44     23
45 - 54     15
55 - 64      4
65 - 74      1
Name: PID, dtype: int64

In [5]:
# Table 1: Participant Breakdown by Country of Origin.
df.groupby('country')['PID'].nunique()

country
US United States    184
Name: PID, dtype: int64

In [6]:
# Table 1: Participant Breakdown by English Reading Proficiency (ERP).
df.groupby('read')['PID'].nunique()

read
5    184
Name: PID, dtype: int64

In [7]:
# List of all email related events associated with the group.
set(df.eventName)

{'CredSupplied',
 'EmailLinkClicked',
 'MessageDeleted',
 'MessageForwarded',
 'MessageRead',
 'MessageReplied',
 'OutOfOffice',
 'ReportedEmail',
 'SuccessfullyDeliveredEmail'}

In [8]:
# Table 8: Breakdown of compromised counts by email scenario.
df[df['eventName']=="CredSupplied"].groupby('scenario')['isPartOfCompromise'].sum().reset_index()

   scenario  isPartOfCompromise
0       G08                   1
1       P01                   2
2       P02                   4
3       P05                   3
4       P06                   2
5       P07                   1
6       P08                   1
7       P09                   3
8       P11                   1
9       Y03                   2
10      Y05                   1
11      Y07                   2
12      Y09                   1
13      Y12                   1

In [9]:
# 5.1.1 and 5.1.2
# Table 2: Click and Compromised Counts by 2×2 Manipulation.
# Table 3: Group C Email Summary
df.pivot_table(
    index='eventName',
    columns='MANIPULATION',
    aggfunc='size',
    fill_value=0
)

MANIPULATION                C * DS  C * MS  PC * DS   PC * MS
eventName
CredSupplied                    17       1         7        0
EmailLinkClicked                30      11        20        7
MessageDeleted                  30      49        39       51
MessageForwarded                 3       0         1        0
MessageRead                    115      94        99       98
MessageReplied                   4       4         5        3
OutOfOffice                      0       0         1        0
ReportedEmail                    1       2         3        4
SuccessfullyDeliveredEmail     184     184       184      184

In [10]:
# 5.2.1 and 5.2.2: Breakdown of Event Counts by Email Scenario.
df.pivot_table(
    index='eventName',
    columns='scenario',
    aggfunc='size',
    fill_value=0
)

scenario,B01,B02,B03,B04,B05,B06,B07,B08,B09,B10,...,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12
eventName,,,,,,,,,,,,,,,,,,,,,
CredSupplied,0,0,0,0,0,0,0,0,0,0,...,2,0,1,0,2,0,1,0,0,1
EmailLinkClicked,1,0,1,0,0,1,0,1,1,1,...,3,1,2,1,2,3,2,3,1,1
MessageDeleted,3,7,5,3,3,5,2,1,9,6,...,4,2,3,4,2,0,4,6,2,4
MessageForwarded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
MessageRead,9,12,7,8,9,5,5,9,11,9,...,8,8,10,8,7,9,10,8,4,10
MessageReplied,0,0,1,0,1,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,2
OutOfOffice,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
ReportedEmail,0,1,0,0,1,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
SuccessfullyDeliveredEmail,17,16,17,15,15,15,15,15,16,14,...,17,15,15,15,15,15,16,14,14,15

In [11]:
# 5.3.1 and 5.3.2: Breakdown of Event Counts by English Reading Proficiency (ERP). 
df.pivot_table(
    index='eventName',
    columns='read',
    aggfunc='size',
    fill_value=0
)

read                          5
eventName
CredSupplied                 25
EmailLinkClicked             68
MessageDeleted              169
MessageForwarded              4
MessageRead                 406
MessageReplied               16
OutOfOffice                   1
ReportedEmail                10
SuccessfullyDeliveredEmail  736

In [12]:
# 5.4.1: Breakdown of Event Counts by Age Group and 2×2 Manipulation.
df.pivot_table(
    index=['age_bin','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName             CredSupplied  EmailLinkClicked  MessageDeleted  \
age_bin MANIPULATION
18 - 24 C * DS                  10                18              15
        C * MS                   1                 5              27
        PC * DS                  4                10              22
        PC * MS                  0                 3              29
25 - 34 C * DS                   5                 8               3
        C * MS                   0                 5               7
        PC * DS                  0                 4               5
        PC * MS                  0                 3               9
35 - 44 C * DS                   1                 3               7
        C * MS                   0                 0               9
        PC * DS                  0                 0               8
        PC * MS                  0                 0               8
45 - 54 C * DS                   0                 0               3
        C * MS                   0                 0               4
        PC * DS                  1                 4               3
        PC * MS                  0                 0               3
55 - 64 C * DS                   1                 1               2
        C * MS                   0                 1               2
        PC * DS                  2                 2               1
        PC * MS                  0                 1               2
65 - 74 C * DS                   0                 0               0
        C * MS                   0                 0               0
        PC * DS                  0                 0               0
        PC * MS                  0                 0               0

eventName             MessageForwarded  MessageRead  MessageReplied  \
age_bin MANIPULATION
18 - 24 C * DS                       2           74               1
        C * MS                       0           60               2
        PC * DS                      1           63               2
        PC * MS                      0           63               1
25 - 34 C * DS                       1           18               0
        C * MS                       0           17               1
        PC * DS                      0           19               0
        PC * MS                      0           17               0
35 - 44 C * DS                       0           12               1
        C * MS                       0            9               0
        PC * DS                      0            7               0
        PC * MS                      0           11               0
45 - 54 C * DS                       0            8               2
        C * MS                       0            5               0
        PC * DS                      0            7               1
        PC * MS                      0            5               1
55 - 64 C * DS                       0            3               0
        C * MS                       0            3               1
        PC * DS                      0            3               2
        PC * MS                      0            2               1
65 - 74 C * DS                       0            0               0
        C * MS                       0            0               0
        PC * DS                      0            0               0
        PC * MS                      0            0               0

eventName             OutOfOffice  ReportedEmail  SuccessfullyDeliveredEmail
age_bin MANIPULATION
18 - 24 C * DS                  0              1                         110
        C * MS                  0              2                         110
        PC * DS                 0              2                         110
        PC * MS                 0              4                         110
25 - 34 C * DS                  0              0                          31
        C * MS                  0              0                          31
        PC * DS                 1              1                          31
        PC * MS                 0              0                          31
35 - 44 C * DS                  0              0                          23
        C * MS                  0              0                          23
        PC * DS                 0              0                          23
        PC * MS                 0              0                          23
45 - 54 C * DS                  0              0                          15
        C * MS                  0              0                          15
        PC * DS                 0              0                          15
        PC * MS                 0              0                          15
55 - 64 C * DS                  0              0                           4
        C * MS                  0              0                           4
        PC * DS                 0              0                           4
        PC * MS                 0              0                           4
65 - 74 C * DS                  0              0                           1
        C * MS                  0              0                           1
        PC * DS                 0              0                           1
        PC * MS                 0              0                           1

In [13]:
# 5.4.2 and Table 19: Breakdown of Event Counts by Country and 2×2 Manipulation.
df.pivot_table(
    index=['country','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName                      CredSupplied  EmailLinkClicked  MessageDeleted  \
country          MANIPULATION
US United States C * DS                  17                30              30
                 C * MS                   1                11              49
                 PC * DS                  7                20              39
                 PC * MS                  0                 7              51

eventName                      MessageForwarded  MessageRead  MessageReplied  \
country          MANIPULATION
US United States C * DS                       3          115               4
                 C * MS                       0           94               4
                 PC * DS                      1           99               5
                 PC * MS                      0           98               3

eventName                      OutOfOffice  ReportedEmail  \
country          MANIPULATION
US United States C * DS                  0              1
                 C * MS                  0              2
                 PC * DS                 1              3
                 PC * MS                 0              4

eventName                      SuccessfullyDeliveredEmail
country          MANIPULATION
US United States C * DS                               184
                 C * MS                               184
                 PC * DS                              184
                 PC * MS                              184

In [14]:
# Breakdown of Event Counts by Hourly Time Bins.
df.pivot_table(
    index=['EventTimeBin_OneHour'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageForwarded,MessageRead,MessageReplied,OutOfOffice,ReportedEmail,SuccessfullyDeliveredEmail
EventTimeBin_OneHour,,,,,,,,,
01:00–01:59,4,11,12,0,52,2,1,2,184
02:00–02:59,1,5,8,1,24,3,0,0,0
03:00–03:59,2,14,22,1,63,1,0,0,184
04:00–04:59,2,3,10,0,23,0,0,1,0
05:00–05:59,0,2,18,0,20,1,0,1,0
06:00–06:59,1,3,9,0,17,2,0,0,0
07:00–07:59,1,3,6,1,25,1,0,0,0
08:00–08:59,0,0,8,0,17,1,0,0,0
09:00–09:59,2,7,23,1,43,1,0,1,184
10:00–10:59,5,10,34,0,76,3,0,5,184
11:00–11:59,6,7,13,0,28,1,0,0,0
12:00–12:59,1,3,6,0,18,0,0,0,0

In [15]:
# Breakdown of Event Counts by Day of the Week.
df.pivot_table(
    index=['EventDay'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageForwarded,MessageRead,MessageReplied,OutOfOffice,ReportedEmail,SuccessfullyDeliveredEmail
EventDay,,,,,,,,,
Friday,0,0,8,0,13,1,0,1,0
Monday,5,13,44,0,87,5,0,5,184
Saturday,2,3,5,0,9,0,0,0,0
Sunday,0,1,2,0,5,0,0,0,0
Thursday,7,18,41,1,104,5,0,2,184
Tuesday,4,16,32,1,77,2,0,0,184
Wednesday,7,17,37,2,111,3,1,2,184

In [16]:
# Breakdown of Event Counts by Approximate Time Bins.
df.pivot_table(
    index=['EventTimeBin'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageForwarded,MessageRead,MessageReplied,OutOfOffice,ReportedEmail,SuccessfullyDeliveredEmail
EventTimeBin,,,,,,,,,
Afternoon,1,3,6,0,18,0,0,0,0
Morning,15,32,111,2,226,10,0,7,368
Night,9,33,52,2,162,6,1,3,368

In [17]:
# Breakdown of 2x2 Manipulation by Approximate Time Bins.
df.pivot_table(
    index=['MANIPULATION'],
    columns='EventTimeBin',
    aggfunc='size',
    fill_value=0
)

EventTimeBin  Afternoon  Morning  Night
MANIPULATION
C * DS                4      204    176
C * MS               13      186    146
PC * DS               8      197    154
PC * MS               3      184    160

In [18]:
# Table 18: Breakdown of Event Counts by Week.
df.pivot_table(
    index='eventName',
    columns='order',
    aggfunc='size',
    fill_value=0
)

order                         1    2    3    4
eventName
CredSupplied                 11    6    3    5
EmailLinkClicked             23   16   15   14
MessageDeleted               38   44   40   47
MessageForwarded              2    1    1    0
MessageRead                 112  103   93   98
MessageReplied                4    5    2    5
OutOfOffice                   1    0    0    0
ReportedEmail                 3    2    0    5
SuccessfullyDeliveredEmail  184  184  184  184