In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv('../data/masterfile-study1-a.csv')
df

,Simulation Name,PID,eventName,eventDateTime,isPartOfCompromise,order,scenario,infoRequested,emailSubject,MANIPULATION,Group,country,age_bin,read,EventDate,EventTime,EventDay,EventTimeBin,EventHour,EventTimeBin_OneHour
0,DSPC3,97,MessageRead,2023-06-25 13:57:00,False,3,Y06,S,WSU Hiring,PC * DS,A,CG Democratic Republic of Congo,35 - 44,1,2023-06-25,13:57:00,Sunday,Afternoon,13,13:00–13:59
1,MSC3,97,MessageRead,2023-06-25 13:56:00,False,3,G06,A,FINAL NOTICE: Rent,C * MS,A,CG Democratic Republic of Congo,35 - 44,1,2023-06-25,13:56:00,Sunday,Afternoon,13,13:00–13:59
2,DSC2,97,MessageRead,2023-06-25 13:56:00,False,2,P10,X,Lost Package,C * DS,A,CG Democratic Republic of Congo,35 - 44,1,2023-06-25,13:56:00,Sunday,Afternoon,13,13:00–13:59
3,MSPC3,86,MessageDeleted,2023-06-10 00:23:00,False,3,B03,A,OVERTIME BONUS,PC * MS,A,CG Democratic Republic of Congo,25 - 34,1,2023-06-10,00:23:00,Saturday,Night,0,00:00–00:59
4,MSPC1,86,MessageDeleted,2023-06-10 00:23:00,False,1,B07,S,HIRING UPDATE,PC * MS,A,CG Democratic Republic of Congo,25 - 34,1,2023-06-10,00:23:00,Saturday,Night,0,00:00–00:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,MSC1,101,SuccessfullyDeliveredEmail,2023-05-27 15:12:00,False,1,G07,B,UPDATE: Your Award,C * MS,A,SS South Sudan,35 - 44,1,2023-05-27,15:12:00,Saturday,Afternoon,15,15:00–15:59
324,MSC1,102,SuccessfullyDeliveredEmail,2023-05-27 15:12:00,False,1,G07,B,UPDATE: Your Award,C * MS,A,CG Democratic Republic of Congo,35 - 44,1,2023-05-27,15:12:00,Saturday,Afternoon,15,15:00–15:59
325,MSC1,103,SuccessfullyDeliveredEmail,2023-05-27 15:12:00,False,1,G07,B,UPDATE: Your Award,C * MS,A,CG Democratic Republic of Congo,25 - 34,3,2023-05-27,15:12:00,Saturday,Afternoon,15,15:00–15:59
326,MSC1,90,SuccessfullyDeliveredEmail,2023-05-27 15:12:00,False,1,G07,B,UPDATE: Your Award,C * MS,A,BY Burundi,25 - 34,1,2023-05-27,15:12:00,Saturday,Afternoon,15,15:00–15:59
327,MSC1,104,SuccessfullyDeliveredEmail,2023-05-27 15:12:00,False,1,G07,B,UPDATE: Your Award,C * MS,A,CG Democratic Republic of Congo,18 - 24,1,2023-05-27,15:12:00,Saturday,Afternoon,15,15:00–15:59

In [3]:
# Table 1: Participant Count.
df.groupby('Group')['PID'].nunique()

Group
A    19
Name: PID, dtype: int64

In [4]:
# Table 1: Participant Breakdown by Age.
df.groupby('age_bin')['PID'].nunique()

age_bin
18 - 24    1
25 - 34    7
35 - 44    7
45 - 54    2
65 - 74    2
Name: PID, dtype: int64

In [5]:
# Table 1: Participant Breakdown by Country of Origin.
df.groupby('country')['PID'].nunique()

country
BY Burundi                          1
CG Democratic Republic of Congo    16
MW Malawi                           1
SS South Sudan                      1
Name: PID, dtype: int64

In [6]:
# Table 1: Participant Breakdown by English Reading Proficiency (ERP).
df.groupby('read')['PID'].nunique()

read
1    13
2     2
3     4
Name: PID, dtype: int64

In [7]:
set(df.isPartOfCompromise)

{False}

In [8]:
# List of all email related events associated with the group.
set(df.eventName)

{'EmailLinkClicked',
 'MessageDeleted',
 'MessageRead',
 'MessageReplied',
 'SuccessfullyDeliveredEmail'}

In [9]:
# 5.1.1 and 5.1.2
# Table 2: Click and Compromised Counts by 2×2 Manipulation.
# Table 3: Group A Email Summary
df.pivot_table(
    index='eventName',
    columns='MANIPULATION',
    aggfunc='size',
    fill_value=0
)

MANIPULATION                C * DS  C * MS  PC * DS   PC * MS
eventName
EmailLinkClicked                 2       1         1        0
MessageDeleted                   3       4         3        3
MessageRead                     18      17        18       20
MessageReplied                   2       3         2        3
SuccessfullyDeliveredEmail      57      57        57       57

In [10]:
# 5.2.1 and 5.2.2: Breakdown of Event Counts by Email Scenario.
df.pivot_table(
    index='eventName',
    columns='scenario',
    aggfunc='size',
    fill_value=0
)

scenario,B03,B07,B10,G03,G06,G07,P03,P09,P10,Y03,Y06,Y08
eventName,,,,,,,,,,,,
EmailLinkClicked,0,0,0,0,0,1,0,1,1,1,0,0
MessageDeleted,1,1,1,1,2,1,1,1,1,1,1,1
MessageRead,6,6,8,6,5,6,8,4,6,7,5,6
MessageReplied,1,1,1,1,1,1,0,1,1,1,0,1
SuccessfullyDeliveredEmail,19,19,19,19,19,19,19,19,19,19,19,19

In [11]:
# 5.3.1 and 5.3.2: Breakdown of Event Counts by English Reading Proficiency (ERP). 
df.pivot_table(
    index='eventName',
    columns='read',
    aggfunc='size',
    fill_value=0
)

read                          1   2   3
eventName
EmailLinkClicked              4   0   0
MessageDeleted               13   0   0
MessageRead                  41  14  18
MessageReplied               10   0   0
SuccessfullyDeliveredEmail  156  24  48

In [12]:
# 5.4.1: Breakdown of Event Counts by Age Group and 2×2 Manipulation.
df.pivot_table(
    index=['age_bin','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName             EmailLinkClicked  MessageDeleted  MessageRead  \
age_bin MANIPULATION
18 - 24 C * DS                       0               0            0
        C * MS                       0               0            0
        PC * DS                      0               0            0
        PC * MS                      0               0            0
25 - 34 C * DS                       2               3           15
        C * MS                       1               3           15
        PC * DS                      1               3           15
        PC * MS                      0               3           16
35 - 44 C * DS                       0               0            3
        C * MS                       0               1            2
        PC * DS                      0               0            2
        PC * MS                      0               0            3
45 - 54 C * DS                       0               0            0
        C * MS                       0               0            0
        PC * DS                      0               0            0
        PC * MS                      0               0            0
65 - 74 C * DS                       0               0            0
        C * MS                       0               0            0
        PC * DS                      0               0            1
        PC * MS                      0               0            1

eventName             MessageReplied  SuccessfullyDeliveredEmail
age_bin MANIPULATION
18 - 24 C * DS                     0                           3
        C * MS                     0                           3
        PC * DS                    0                           3
        PC * MS                    0                           3
25 - 34 C * DS                     2                          21
        C * MS                     3                          21
        PC * DS                    2                          21
        PC * MS                    3                          21
35 - 44 C * DS                     0                          21
        C * MS                     0                          21
        PC * DS                    0                          21
        PC * MS                    0                          21
45 - 54 C * DS                     0                           6
        C * MS                     0                           6
        PC * DS                    0                           6
        PC * MS                    0                           6
65 - 74 C * DS                     0                           6
        C * MS                     0                           6
        PC * DS                    0                           6
        PC * MS                    0                           6

In [13]:
# 5.4.2 and Table 10: Breakdown of Event Counts by Country and 2×2 Manipulation.
df.pivot_table(
    index=['country','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName                                     EmailLinkClicked  \
country                         MANIPULATION
BY Burundi                      C * DS                       0
                                C * MS                       0
                                PC * DS                      0
                                PC * MS                      0
CG Democratic Republic of Congo C * DS                       0
                                C * MS                       0
                                PC * DS                      0
                                PC * MS                      0
MW Malawi                       C * DS                       2
                                C * MS                       1
                                PC * DS                      1
                                PC * MS                      0
SS South Sudan                  C * DS                       0
                                C * MS                       0
                                PC * DS                      0
                                PC * MS                      0

eventName                                     MessageDeleted  MessageRead  \
country                         MANIPULATION
BY Burundi                      C * DS                     0            1
                                C * MS                     0            2
                                PC * DS                    0            2
                                PC * MS                    0            3
CG Democratic Republic of Congo C * DS                     3           14
                                C * MS                     4           12
                                PC * DS                    3           13
                                PC * MS                    3           14
MW Malawi                       C * DS                     0            3
                                C * MS                     0            3
                                PC * DS                    0            3
                                PC * MS                    0            3
SS South Sudan                  C * DS                     0            0
                                C * MS                     0            0
                                PC * DS                    0            0
                                PC * MS                    0            0

eventName                                     MessageReplied  \
country                         MANIPULATION
BY Burundi                      C * DS                     0
                                C * MS                     0
                                PC * DS                    0
                                PC * MS                    0
CG Democratic Republic of Congo C * DS                     0
                                C * MS                     0
                                PC * DS                    0
                                PC * MS                    0
MW Malawi                       C * DS                     2
                                C * MS                     3
                                PC * DS                    2
                                PC * MS                    3
SS South Sudan                  C * DS                     0
                                C * MS                     0
                                PC * DS                    0
                                PC * MS                    0

eventName                                     SuccessfullyDeliveredEmail
country                         MANIPULATION
BY Burundi                      C * DS                                 3
                                C * MS                                 3
                                PC * DS                                3
                                PC * MS                                3
CG Democratic Republic of Congo C * DS                                48
                                C * MS                                48
                                PC * DS                               48
                                PC * MS                               48
MW Malawi                       C * DS                                 3
                                C * MS                                 3
                                PC * DS                                3
                                PC * MS                                3
SS South Sudan                  C * DS                                 3
                                C * MS                                 3
                                PC * DS                                3
                                PC * MS                                3

In [14]:
# Breakdown of Event Counts by Hourly Time Bins.
df.pivot_table(
    index=['EventTimeBin_OneHour'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,SuccessfullyDeliveredEmail
EventTimeBin_OneHour,,,,,
00:00–00:59,1,10,1,2,0
01:00–01:59,0,0,3,0,0
02:00–02:59,0,0,1,1,0
03:00–03:59,1,0,1,1,0
05:00–05:59,0,0,1,0,0
06:00–06:59,0,0,7,0,0
07:00–07:59,0,0,0,1,0
11:00–11:59,0,0,3,0,0
13:00–13:59,1,0,9,1,57
14:00–14:59,0,0,6,0,19
15:00–15:59,0,0,5,0,57
16:00–16:59,0,2,11,1,38
17:00–17:59,0,0,2,0,0
19:00–19:59,0,0,4,0,19
20:00–20:59,0,0,1,0,19
21:00–21:59,1,0,15,2,19
22:00–22:59,0,1,0,1,0
23:00–23:59,0,0,3,0,0

In [15]:
# Breakdown of Event Counts by Day of the Week.
df.pivot_table(
    index=['EventDay'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,SuccessfullyDeliveredEmail
EventDay,,,,,
Friday,1,2,24,2,38
Monday,0,0,1,1,19
Saturday,0,10,5,0,38
Sunday,2,0,18,3,38
Thursday,1,0,18,2,38
Tuesday,0,1,3,2,19
Wednesday,0,0,4,0,38

In [16]:
# Breakdown of Event Counts by Approximate Time Bins.
df.pivot_table(
    index=['EventTimeBin'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,SuccessfullyDeliveredEmail
EventTimeBin,,,,,
Afternoon,1,2,31,2,171
Evening,0,0,7,0,38
Morning,0,0,11,1,0
Night,3,11,24,7,19

In [17]:
# Breakdown of 2x2 Manipulation by Approximate Time Bins.
df.pivot_table(
    index=['MANIPULATION'],
    columns='EventTimeBin',
    aggfunc='size',
    fill_value=0
)

EventTimeBin  Afternoon  Evening  Morning  Night
MANIPULATION
C * DS               25       20        2     35
C * MS               65        0        4     13
PC * DS              50       23        3      5
PC * MS              67        2        3     11